{% load static i18n %}
<!DOCTYPE html>
<html lang="uk" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}PeerToPeer{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% block meta_tags %}
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="PeerToPeer - {% trans 'Благодійний фонд' %}">
    <meta property="og:description" content="{% trans 'Ми — спільнота, де кожен голос має значення, а кожна дія створює хвилю добра.' %}">
    <meta property="og:image" content="{% static 'images/og-image.jpg' %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}">
    <meta property="twitter:title" content="PeerToPeer - {% trans 'Благодійний фонд' %}">
    <meta property="twitter:description" content="{% trans 'Ми — спільнота, де кожен голос має значення, а кожна дія створює хвилю добра.' %}">
    <meta property="twitter:image" content="{% static 'images/og-image.jpg' %}">
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
    <style>
      [x-cloak] { display: none !important; }
    </style>
    {% block head_extra %}{% endblock %}
  </head>
  <body class="flex flex-col min-h-screen">
    {% include "includes/header.html" %}

    <main class="flex-grow w-full max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
      {% block content %}{% endblock %}
    </main>

    {% include "includes/footer.html" %}
  </body>
</html>